.form-wrapper {
  position: absolute;
  width: 330px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: hsl(0, 0%, 80%) 0 0 15px;
  padding: 2em 1.2em;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.form-wrapper input {
  padding: 12px;
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #e4eaf2;
}
.form-wrapper p > span {
  color: red;
}
.auth-btn {
  display: inline-block;
  margin-top: 1em;
  padding: 10px 35px;
  background: #626973;
  color: #fff;
  border-radius: 50px;
  border: 2px solid orange;
}
